
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lstUsuarios" >
        <td scope="col">{{item.nombre}}</td>
        <td scope="col">{{item.apellido}}</td>
        <td scope="col">{{item.edad}}</td>
        <td scope="col">
          <button class="btn btn-outline-warning" (click)="modificar(item)" >Modificar</button>
          <button class="btn btn-outline-danger" (click)="eliminar(item)" >Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
