<form (ngSubmit)="guardar()" [formGroup]="myForm" >
  <div>
    <label >Nombre</label>
    <input formControlName="nombre" [(ngModel)]="usuario.nombre"  type="text" />
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty" >
        <span *ngIf="myForm.get('nombre').hasError('required')" >Nombre es Requerido</span>
      </div>
    <label >Pass</label>
    <input role="alert" formControlName="pass" [(ngModel)]="usuario.pass"  type="password" />
      <div class="alert alert-danger"  *ngIf="myForm.get('pass').errors && myForm.get('pass').dirty" >
        <span *ngIf="myForm.get('pass').hasError('required')" >Pass es Requerido</span>
      </div>
  </div>
  <input id="btnGuardar" type="submit" />
</form>
