<div class="container">
  <form (ngSubmit)="guardar()" [formGroup]="myForm" >
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input class="form-control" formControlName="nombre" [(ngModel)]="usuario.nombre"  type="text" />
          <div class="alert-danger" role="alert" *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty" >
            <small class="form-text text-muted" *ngIf="myForm.get('nombre').hasError('required')" >Nombre es Requerido</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleInputEmail1">Apellido</label>
          <input class="form-control" formControlName="apellido"  [(ngModel)]="usuario.apellido"  type="text" />
          <div class="alert-danger" role="alert" *ngIf="myForm.get('apellido').errors && myForm.get('apellido').dirty" >
            <small class="form-text text-muted" *ngIf="myForm.get('apellido').hasError('required')" >apellido es Requerido</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleInputEmail1">Edad</label>
          <input class="form-control" role="alert" formControlName="edad" [(ngModel)]="usuario.edad"  type="number" />
          <div class="alert-danger" role="alert" *ngIf="myForm.get('edad').errors && myForm.get('edad').dirty" >
            <small class="form-text text-muted" *ngIf="myForm.get('edad').hasError('required')" >edad es Requerido</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleInputEmail1">Pass</label>
          <input class="form-control" role="alert" formControlName="pass" [(ngModel)]="usuario.pass"  type="password" />
          <div class="alert-danger" role="alert" *ngIf="myForm.get('pass').errors && myForm.get('pass').dirty" >
            <small class="form-text text-muted" *ngIf="myForm.get('pass').hasError('required')" >pass es Requerido</small>
          </div>
        </div>
      </div>
    </div>
    <input class="btn btn-primary" id="btnGuardar" type="submit" />
  </form>
</div>

<!--  [ngModelOptions]="{standalone: true}" -->
